/services/camera-streamer/venv
/services/camera-streamer/drivers
/services/hand-detection/venv
/services/bluetooth-controller/venv/
/.env
/services/bluetooth-controller/firmware/.pio/
/services/bluetooth-controller/firmware/.vscode/
/services/hand-detection/plugins/